html,
body {
  height: 100%;
  margin: 0;
}
#theBoard  { 
    height: 50%;
    margin: .5em;
}
#gameInfo{
  font-size: 2em;
  text-align: center;
  margin: 1em auto;
  width: 60%;
  padding: 0.5em;
  border: 0.3em solid black;
  display: flex;  
  align-items: center;  
  justify-content: center;  
  text-align: center;
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
 
}
#gameInfo button{
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border: 0.1em solid black;
  margin: 0.5em;
}
#yourBestTime {
  font-size: 2em;
    text-align: right;
    padding: 0.5em 1em 0;
    font-style: italic;
}
#clock {
  background: black;
  color: white;
  width: 20%;
  margin:.5em auto .5em;
  font-size: 2em;
  text-align: center;
  border: 0.2em solid #6b73bd;
  box-shadow: 2px 5px #888888;
}
.flipCard {
  background-color: transparent;
  width: 16%;
  height: 30%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: left;
}

/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}*/
.flipCardInnerHover, .flipCardInnerHoverMatch {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipCardFront {
  background-color: #1E90FF;
  color: black;
  font-size: 3.7em;
  cursor:pointer;
}

/* Style the back side */
.flipCardBack {
  background-color: #FFA205;
  color: white;
  transform: rotateY(180deg);
  font-size: 3.7em;
}


